
.winter {
background-color: aliceblue;
}

.spring {
background-color: papayawhip;
}

.autumn {
background-color: darkkhaki;
}


.summer {
background-color: aquamarine;
}

img {
    width: 75%;
    float: right;
}

h1{
    width: 10%;
    display: block;
    float: left;
    text-align: right;
    margin-left: 3.5rem;
}

p {
    width: 10%;
    float: none;
    text-align: right;
    margin-left: 3.5rem;
}

@media (max-width: 767px){
h1, p  {
    margin-left: 1rem;
    }
    
h1{
    font-size: 1.2rem;
    }
    
p{
    font-size: 0.9rem;
    }
}