
.winter {
background-color: aliceblue;
}

.spring {
background-color: papayawhip;
}

.autumn {
background-color: darkkhaki;
}


.summer {
background-color: aquamarine;
}

img {
    width: 75%;
    float: right;
}

h1{
    width: 10%;
    display: block;
    float: left;
    text-align: right;
    margin-left: 3.5rem;
}

p {
    width: 10%;
    float: none;
    text-align: right;
    margin-left: 3.5rem;
}

@media (max-width: 767px){
img, h1, p  {
    width: 100%;
    float: none;
    margin: 1rem auto 1rem auto;
    text-align: center;
    }
}